{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff" />
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />    
    <!-- Main container -->    
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="sidebar">
        <ul class="cd-accordion-menu">
            <li class="has-children">
                <input type="checkbox" name="group-1" id="group-1" unchecked>
                <label for="group-1">Projects</label>
                <ul>
                    <li><a href="/level0/threats/new">New</a></li>
                    <li><a href="/level0/threats/list">List</a></li>
                </ul>
            </li>
            <!--
            <li class="has-children">
                <input type="checkbox" name="group-2" id="group-2" unchecked>
                <label for="group-2">Developer threats</label>
                <ul>
                    <li><a href="/level0/features/new">New</a></li>
                    <li><a href="#0">List</a></li>
                </ul>
            </li>
            <li class="has-children">
                <input type="checkbox" name="group-3" id="group-3" unchecked>
                <label for="group-3">Configure threats</label>
                <ul>
                    <li><a href="#0">Assign controls</a></li>
                    <li><a href="#0">List</a></li>
                </ul>
            </li>
            -->
        </ul>
        <!-- cd-accordion-menu -->
    </div>

    <div zclass="w3-main" id="main">
        <div class="w3-teal header">
            <button class="w3-button w3-teal w3-xlarge" onclick="toggle_sidebar()">&#9776;</button>
            <div class="w3-container">
                <h1>Security self service</h1>
            </div>
        </div>
        <div id="container" class="w3-animate-opacity">
            {% include container %}
        </div>
    </div>
</body>

<!-- global -->
<script>
    function toggle_sidebar()
    {
         var isDisplayed = (document.getElementById("sidebar").style.display == 'block');
         if(isDisplayed)
         {
            w3_close();
         }
         else
         {
            w3_open();
         }
    }
    
    function w3_open() {
        document.getElementById("main").style.marginLeft = "15vw";
        document.getElementById("sidebar").style.width = "15vw";
        document.getElementById("sidebar").style.display = "block";        
    }

    function w3_close() {
        document.getElementById("main").style.marginLeft = "0vw";
        document.getElementById("sidebar").style.display = "none";       
    }
</script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/d3.layout.js' %}"></script>
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/graphVisualisation.js' %}"></script>
</html>